$color_1: #FFFFFF;
$font-family_1: Montserrat;
$background-color_1: transparent;

.container-Slider {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 415px;
	overflow: hidden;
}
.slide {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	width: 100%;
	height: 415px;
	border-radius: 25px;
	img {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.imgBouton {
	display: flex;
	flex-wrap: wrap;
	width: 46.68px;
	height: 79.2px;
}
.activ-anim {
	display: flex;
	flex-wrap: wrap;
	opacity: 0.5;
}
.next {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	bottom: -167px;
	right: -1130px;
	height: 60px;
	width: 110px;
	background-color: $background-color_1;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	flex-shrink: 1;
}
.prev {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	bottom: -107px;
	right: -28px;
	height: 60px;
	width: 110px;
	background-color: $background-color_1;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	flex-shrink: 1;
}
.count-slider {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	bottom: -265px;
	right: -615px;
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	color: $color_1;
	width: 50px;
}
@media (max-width: 1374px) {
	.next {
		right: -1069px;
	}
	.count-slider {
		right: -563px;
	}
}
@media (max-width: 1338px) {
	.next {
		right: -1025px;
	}
	.count-slider {
		right: -534px;
	}
}
@media (max-width: 1291px) {
	.next {
		right: -968px;
	}
	.count-slider {
		right: -533px;
	}
}
@media (max-width: 1246px) {
	.next {
		right: -936px;
	}
	.count-slider {
		right: -532px;
	}
}
@media (max-width: 1203px) {
	.next {
		right: -879px;
	}
	.count-slider {
		right: -531px;
	}
}
@media (max-width: 1143px) {
	.next {
		right: -816px;
	}
	.count-slider {
		right: -481px;
	}
}
@media (max-width: 1081px) {
	.next {
		right: -696px;
	}
	.count-slider {
		right: -451px;
	}
}
@media (max-width: 964px) {
	.next {
		right: -663px;
	}
	.count-slider {
		right: -383px;
	}
}
@media (max-width: 930px) {
	.next {
		right: -613px;
	}
	.count-slider {
		right: -358px;
	}
}
@media (max-width: 879px) {
	.next {
		right: -560px;
	}
	.count-slider {
		right: -325px;
	}
}
@media (max-width: 826px) {
	.next {
		right: -518px;
		right: -477px;
	}
	.count-slider {
		right: -298px;
		right: -271px;
	}
}
@media (max-width: 739px) {
	.next {
		right: -440px;
	}
	.imgBouton {
		width: 30px;
		height: 30px;
	}
	.count-slider {
		right: -252px;
	}
}
@media (max-width: 679px) {
	.next {
		right: -395px;
	}
	.imgBouton {
		width: 29px;
		height: 29px;
	}
	.count-slider {
		right: -255px;
	}
}
@media (max-width: 667px) {
	.next {
		right: -343px;
	}
	.imgBouton {
		width: 28px;
		height: 28px;
	}
	.count-slider {
		right: -200px;
	}
	.container-Slider {
		margin: 20px 0px;
	}
}
@media (max-width: 626px) {
	.next {
		right: -392px;
	}
	.prev {
		right: 15px;
	}
	.imgBouton {
		width: 28px;
		height: 28px;
	}
	.count-slider {
		right: -200px;
	}
}
