@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
       
    box-sizing: border-box; /*  bordure et remplissage défini pour la page */
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto; /*permet une marge blanche sur large desktop*/
    max-width: 1440px; /*taille maximum de l'affichage*/
   
    gap:30px
}

main {          /*gère les marges interrieures*/
    display:flex; 
    flex-direction: column;
    width: 1240px;
    margin: 0px 100px;
    gap: 50px
    
}
.gallery-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    border-radius: 25px;
    background: #F6F6F6;
    width: 100%;
    padding: 56px 50px;
    

}
.gallery_cards {
    display: flex;
    text-decoration: none;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
}
img.flat {
    display: flex;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.9;
    mix-blend-mode: darken;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 54px; right: -23px;
    width: 300px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
    text-decoration: none;
}
div,a, img {
    display: flex;
    flex-wrap: wrap;
}



@media (max-width: 667px) {
    body {
        display: flex;
        flex-direction: column;
        width: 667px;
        margin: auto; /*permet une marge blanche sur large desktop*/
        max-width: 375px; /*taille maximum de l'affichage mobile*/
        gap:30px;
        padding: 20px 20px;
    }
    
    main {          /*gère les marges interrieures*/
         
        flex-direction: column;
        margin: 0px 0px;
        gap: 19px;
        width: 335px;
        
    }
    
    .gallery-wrapper {
        
        gap: 20px;
        background: #FFFF;
        padding: 0px 0px;
    }
    .gallery_cards {
       
        height: 255px;
        
    }
    img.flat {
        
        height: 255px;
        
    }
    
    h4 {
        font-size: 18px;
    }
      
    
}