@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
h2 {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    padding-top: 47px;
      
}

.containerCard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-image:  url('../assets/paysage-montagne.png');
    background-position-y: 50%;
    justify-content: center;
    border-radius: 25px;
    height: 223px;
}
