@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


.collapse {
    
    background-color: #F6F6F6;
    color: #FF6060;
    
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; 
    max-width: 1240px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 30px 0px;
   
    
}
.collapse_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 52px;
    background-color: #FF6060;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    padding: 0px 20px;

}
.collapse-content {
    align-content: center;
    
   
}
.arrow_up{
    transform: rotate(0deg);
}
.arrow_down{
    transform: rotate(180deg);
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 1px;
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    font-size: clamp(12px, 2vw, 16px);
   
    transition: visibility 0.5s ease-in-out,
                opacity 0.5s ease-in-out,
                height 0.2s ease-in-out;
}
.collapse_content_hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}
