main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}
.textError {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 263px;
    font-style: normal;
    font-weight: 700;
    
}
.textRetourAccueil {
    display: flex;
    justify-content: center;
}
h2.error-Title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
   
}

a.textRetourAccueil {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0px;
}
