.textError {
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    margin: 70px 0px;
}
.textRetourAccueil {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin: 60px 0px;
}
.containerErrror {
    margin: 139px 0px;
}