
.containerFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding : 70px 0px;
    margin-bottom: 70px;
    gap: 29px;
} 
.imageFooter {  
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
   
}
h5 {
    display: flex;
    flex-wrap: wrap;
    height: 46px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%; /* 34.224px */
    background-color: black;
    border-radius: 0px;
    }

@media (max-width: 667px) {
   
    .containerFooter {
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
        margin: 19px 0px;
        padding: 66px 120px 58px 121px;
        
    }
    .imageFooter {  
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 122px;
        height: 40px;
        margin: 0px 60px;
        
    }
    h5 {
        display: flex;
        flex-wrap: wrap;
        height: 22px;
        justify-content: center;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 34.224px */
        background-color: black;
        border-radius: 0px;
    }
}