
.containerFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    padding : 70px 0px;
    margin-top: 50px;
    gap: 29px;
} 
.imageFooter {  
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
   
}
h5 {
    display: flex;
    flex-wrap: wrap;
    height: 46px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%; /* 34.224px */
    background-color: black;
    border-radius: 0px;
    }

@media (max-width: 667px) {
   
    .containerFooter {
        width: 375px;
        margin: 19px -20px 20px -20px;
    }
    
    h5 {
        font-size: 12px;
    }
}