



@media (max-width: 375px) {
    
    ul {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        gap: 22px;
    }
        
    li {
        display: flex;
        width: 340px;
        height: 255px;
        background-color:#FF6060 ;
        border-radius: 10px;
    }  
    span {
        display: flex;
    }
        
       
    
}