.boiteLogo {
    display: flex;
    padding-left: 0px 60px;
    margin-top: 45px;
    

}
.img {
    height: 68px;
    width: 210px;
}
.navContainer {
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.navBar {
    display: flex;
    flex-direction: row;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    gap: 57px;

}
.textNavBar {
    color: #FF6060;
    text-decoration: none;
}
