@import './_config';
@import './style';




.gallery-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	border-radius: 25px;
	background: $color_grisclaire;
	width: 100%;
	padding: 56px 50px;
}
.gallery_cards {
	display: flex;
	text-decoration: none;
	width: 340px;
	height: 340px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
}
img.flat {
	display: flex;
	width: 340px;
	height: 340px;
	border-radius: 10px;
	object-fit: cover;
	opacity: 0.9;
	mix-blend-mode: darken;
}
h4 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	bottom: 54px;
	right: -23px;
	width: 300px;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 142.6%;
	text-decoration: none;
}
div {
	display: flex;
	flex-wrap: wrap;
}
a {
	display: flex;
	flex-wrap: wrap;
}
img {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 667px) {
	body {
		display: flex;
		flex-direction: column;
		width: 667px;
		margin: auto;
		max-width: 375px;
		gap: 30px;
		padding: 20px 20px;
	}
	main {
		flex-direction: column;
		margin: 0px 0px;
		gap: 19px;
		width: 335px;
	}
	.gallery-wrapper {
		gap: 20px;
		background:$color_1;
		padding: 0px 0px;
	}
	.gallery_cards {
		height: 255px;
	}
	img.flat {
		height: 255px;
	}
	h4 {
		font-size: 18px;
	}
}
