@import './_config';
@import './style';



.description {
    @include speudo-El (flex, row, wrap, space-between, center);
	width: 100%;
}
.wrapper-presentation {
	@include speudo-El (flex, column, wrap, center, flex-start);
   	gap: 15px;
	
}
.wrapper-notation {
	@include speudo-El (flex, column, wrap, flex-end, flex-end);
   	height: 150px;
	margin-top: 15px;
}
p {
	width: 100%;
}

.wrapper-collapses {
	@include speudo-El (flex, row, nowrap, space-between, space-between);
   	margin-bottom: 74px;
	width: 120%;
	
}
.collapseHeight {
	@include speudo-El (flex, row, wrap, flex-start, flex-start);
    width: 50%;
	height: auto;
}
.collapse_title {
	@include speudo-El (flex, row, wrap, center, flex-end);
    @include text-layout('Montserrat', 500, 0em, left, normal, 142.6%, 18px);
	height: 39px;
	
	
}
div.collapse_content {
	position: absolute;
	height: 80px;
	width: 250px;
    gap: 5px;
	width: auto;
    font-weight: 400;
    padding: 10px;
	margin-top: 39px;
	line-height: 142.6%;
	font-size: 18px;
	text-align: justify;
	background-color: $color_grisclaire;
	transition: 600ms;
}
div.collapse {
	@include speudo-El (flex, row, wrap, center, flex-start);
   	background-color: $color_grisclaire;
	color: $color_red;
	height: 25px;
    width: 100%;
	
   
	@include text-layout('Montserrat', 400, 0em, left, normal, 150%, 18px);
	@include border-radius (0px, 0px, 10px, 10px);
	
}
.about_main_collapse {
	@include speudo-El (flex, row, wrap, center, center);
	margin-bottom: 49px;
	width: 120%;
}
div.collapse_content_hidden {
	@include speudo-El (flex, row, wrap, center, center);
	visibility: hidden;
    opacity: 0;
    height: 0;
	
}
.title-appart {
	@include speudo-El (flex, row, wrap, flex-start, flex-start);
	color: $color_red;
	@include text-layout('Montserrat', 500, 0em, left, normal, 150%, 36px);
	
}
.sous-title-appart {
	@include speudo-El (flex, row, wrap, flex-start, flex-start);
	width: 376px;
	height: 51px;
	padding: 10px;
	color: $color_red;
	@include text-layout('Montserrat', 500, 0em, left, normal, 0, 18px);
	
}
@media (max-width: 1330px) {
	.wrapper-notation {
		flex-direction: row-reverse;
		width: 565px;
		justify-content: space-between;
	}
	
}

@media (max-width: 667px) {
	
	.wrapper-presentation {
		width: 335px;
	}
	.title-appart {
		@include text-layout('Montserrat', 500, 0em, left, normal, 150%, 16px);
        width: 100%;
	}
	h2 {
		padding: 0px;
	}
	.sous-title-appart {
		@include text-layout('Montserrat', 500, 0em, left, normal, 0, 14px);
		padding: 0px;
	}
	.wrapper-notation {
		@include speudo-El (flex, row-reverse, wrap, center, flex-end);
       	height: 55px;
		
	}
	.wrapper-collapses {
        margin-top: 0px;
		width: 335px;
		height: 120px;
	}
	.collapseHeight {
		flex-direction: column;
		width: 335px;
		align-content: flex-start;
		gap:5px;
	}
	.collapse {
		margin: 0px;
	}
	.h3.collapse_title {
		flex-direction: column;
	}
	div.collapse_content {
		font-size: 13px;
		
	}
}
