@import './_config';
@import './style';




div.collapse {
	@include text-layout('Montserrat', 400, 0em, left, normal, 150%, 18px);
	position: relative;
	background-color: $color_grisclaire;
	color: $color_red;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	align-items: flex-start;
}
.wrapper-collapses {
	@include speudo-El (flex, row, wrap, space-between, space-between);
   	margin-bottom: 74px;
	width: 100%;
	height: auto;
}
.about_main {
	position: relative;
	right: 37%;
	margin-bottom: 20px;
	width: 175%;
	
}
.about_main_collapse {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 90px;
	justify-content: center;
	width: 100%;
}
.collapse_title {
	@include speudo-El (flex, row, wrap,  space-between,  center);
	align-items: flex-start;
	background-color: $color_red;
	z-index:0;
	width: 100%;
	padding: 10px 20px 10px 15px;
	border-radius: 10px; 
}

div.collapse_content {
	
	position: absolute;
	height: 319px;
	width: 100%;
	border-radius: 10px;
    padding: 10px;
	text-align: justify;
	background-color: $color_grisclaire;
	transition: 600ms;
	z-index: -1;
}

h3 {
	@include text-layout('Montserrat', 400, 0, left, normal, 142.6%, 24px);
	@include speudo-El (flex, row, wrap,  center,  center);
	color: $color_1;
	border-radius: 10px;
	padding: 0px 20px;
	width: 100%;
	
}
.collapse_content_hidden {
	visibility: hidden;
	
	top:100%;
	transition: translateY(-100%);
	
}
.arrow_up {
	transform: rotate(0deg);
	transition: all 0.2s ease-in-out;
}
.arrow_down {
	transform: rotate(180deg);
	transition: all 0.2s ease-in-out;
}

@media (max-width: 667px) {
	.wrapper-collapses  {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		gap: 30px;
	}	
	div.collapse {
		width: 335px;
		
	}
	.about_main {
		
		right:0;
	}
	.about_main_collapse {
		
		margin-bottom: 40px;
		
	}
	.collapse_title {
		height: 30px;
		width: 100%;
		border-radius: 5px;
		font-size: 13px;
		
	}
	.collapseHeight {
		margin-bottom: 40px;
		width: 100%;
		margin-top: 25px;
		
	}
	
	
	div.collapse_content {
		width: 100%;
		top:-8px;
		height: 183px;
		margin-bottom: 170px;
	}	
}
