

$color_1: #FFF;
$color_grisclaire: #F6F6F6;
$color_red: #FF6060;

$background-color_black: black;
$background-color_incolore: transparent;



$font-family_1: Montserrat;

    //font-weight: 500;
	//letter-spacing: 0em;
	//text-align: left;
    
