@import './_config';



.navContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0px;
	padding: 0px 100px;
}
.boiteLogo {
	display: flex;
	padding-left: 0px 60px;
	width: 210.322px;
	height: 68px;
}
.img {
	display: flex;
	align-content: baseline;
	height: 46px;
	width: 145px;
}
.navBar {
	display: flex;
	flex-direction: row;
	gap: 57px;
	margin: 17px 0px;
}
.textNavBar {
	display: flex;
	color: $color_red;
	text-decoration: none;
	text-align: right;
	font-family: $font-family_1;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	&:hover {
		text-decoration: $color_red underline;
	}
}
@media (max-width: 667px) {
	.navContainer {
		flex-wrap: nowrap;
		margin: 0px;
		padding: 0px;
	}
	.boiteLogo {
		width: 145px;
		height: 47px;
	}
	.navBar {
		justify-content: flex-end;
		gap: 26px;
	}
	.textNavBar {
		font-size: 12px;
	}
}
