@import './_config';




.host-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}
.host-picture {
	display: flex;
	flex-wrap: wrap;
	width: 64px;
	height: 64px;
	object-fit: cover;
	object-position: center; 
	border-radius: 45%;
	align-self: center;
}
.host-name {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 121px;
	color: $color_red;
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	justify-content: flex-end;
	padding-right: 20px;
}
@media (max-width: 667px) {
	.host-name {
		font-size: 12px;
		width: 50px;
		height: 56px;
		flex-direction: column;
		align-content: flex-start;
	}
	.host-picture {
		height: 32px;
		width: 32px;
	}
	.host-container {
		justify-content: space-between;
		width: 100px;
	}
}
