@import './_config';




.container-Slider {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
}
.slide {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	object-fit: cover;
	width: 100%;
	height: 415px;
	border-radius: 25px;
	z-index: index 1;
}
.imgBouton {
	display: flex;
	flex-wrap: wrap;
	width: 46.68px;
	height: 79.2px;
}
.activ-anim {
	display: flex;
	flex-wrap: wrap;
	opacity: 0.5;
}
.next {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 156px;
	right: 104px;
	
	background-color: $background-color_incolore;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
}
.prev {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 156px;
	right: 1088px;
	
	background-color: $background-color_incolore;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
}
.count-slider {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 17px;
	right: 575px;
	font-family: $font-family_1;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0em;
	color: $color_1;
	width: 50px;
}
@media (max-width: 1143px) {
	.next {
		right: 41px;
	}
	.prev {
		right: 736px;
	}
	.count-slider {
		right: 403px;
	}
}
@media (max-width: 1081px) {
	.next {
		right: 58px;
	}
	.count-slider {
		right: 339px;
	}
}
@media (max-width: 964px) {
	.next {
		right: 12px;
	}
	.prev {
		right: 672px;
	}
	.count-slider {
		right: 331px;
	}
}
@media (max-width: 826px) {
	.next {
		right: 18px;
	}
	.prev {
		right: 484px;
	}
	.count-slider {
		right: 291px;
	}
}
@media (max-width: 667px) {
	.next {
		right: 0px;
	}
	.prev {
		right: 275px;
	}
	.imgBouton {
		width: 28px;
		height: 28px;
	}
	.count-slider {
		right: 136px;
	}
	.container-Slider {
		margin-top: 20px;
	}
}
@media (max-width: 626px) {
	.next {
		right: 8px;
		top: 115px;
	}
	.prev {
		right: 276px;
		top: 115px;
	}
	.count-slider {
		top: 222px;
		right: 148px;
		font-size: 12px;
	}
	.slide {
		width: 100%;
		height: 255px;
	}
	img.slide {
		width: 335px;
		height: 255px;
	}
}
