

.stars-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 185px;
	height: 36px;
	gap: 15px;
	margin-top: 50px;
}
img.star {
	display: flex;
	flex-wrap: nowrap;
	width: 25px;
	height: 25px;
}
@media (max-width: 667px) {
	.stars-container {
		display: flex;
		justify-items: flex-start;
		gap: 7px;
		width: 224px;
		justify-content: flex-start;
	}
	img.star {
		height: 18px;
		width: 18px;
	}
}

