@import '_config';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0px;
}
body {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	max-width: 1440px;
	min-width: 320px;
	gap: 30px;
	
}

main {
	display: flex;
	flex-direction: column;
	width: 1240px;
	margin: 0px 100px;
	gap: 50px;
}

p,span, img, a {
    display: flex;
    flex-wrap: wrap;
   
}
@media (max-width: 667px) {
	body {
		display: flex;
		flex-direction: column;
		width: 667px;
		margin: auto;
		max-width: 375px;
		gap: 30px;
		padding: 20px 20px;
		
	}
	main {
		flex-direction: column;
		margin: 0px 0px;
		gap: 19px;
		width: 335px;
	}
}